.App {
  text-align: center;
  padding:  36px;
}

.SearchForm-wrapper {
  display: flex;
  justify-content:center;
}
.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding:16px;
}
.MoviesList-item {
  margin-bottom: 24px
}
.image {
  width: 70%;
  height: 70%;
  margin: 0 auto;
}
.title {
  font-style: italic;
}